body {
  font-family: Imperial, helvetica, arial, sans-serif;
}

header {
  padding-bottom: 3em;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 14px;
  max-width: 860px;
  color: #121212;
}

figcaption > span {
  font-size: 12px;
  color: #888;
}

aside {
  position: absolute;
  top: 126em;
  right: 80px;
}

.time {
  font-size: 10px;
  color: #999;
  padding: 5px 0;
}

.nyt-che {
  font-family: "nyt-cheltenham", s helvetica, arial, sans-serif;
}

.nyt-fr {
  font-family: "nyt-franklin", s helvetica, arial, sans-serif;
}

.nyt-imp {
  font-family: "nyt-imperial", s helvetica, arial, sans-serif;
}

.pull-left {
  position: relative;
  float: left;
}

.pull-right {
  float: right;
}

.centered {
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}

.navigation {
  height: 42px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.social-media-icons li {
  list-style: none;
  font-size: 13px;
  margin: 0 16px 0 0;
}

.navigation-links {
  max-width: 1605px;
}

.navigation li {
  list-style: none;
  display: inline;
}

.img-thumbnails li {
  display: inline-grid;
}

.Most-Popular li {
  margin-left: -38px;
  text-align: left;
  font-size: 19px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid rgb(226, 226, 226);
}

.Page-footer li {
  display: inline;
  font-size: 14px;
  line-height: 27px;
  text-transform: capitalize;
}

.Subscribe li {
  line-height: 30px;
}

section.lower-footer li {
  display: inline;
  font-size: 11px;
  color: #666;
  padding: 10px 10px;
}

.navigation-links li:nth-of-type(1) {
  font-size: 20px;
  margin-top: -8px;
  padding-right: 25px;
}

.navigation-links li:nth-of-type(2) {
  position: relative;
  left: 5px;
  margin-top: -5px;
}

.navigation-links li:nth-of-type(3) {
  margin-top: -6px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  left: 30px;
}

.Subscribe a {
  text-transform: capitalize;
  color: #000;
  padding-left: 0;
  font-weight: 800;
  text-decoration: none;
}

.navigation-links li:nth-of-type(3) a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.main-img img {
  width: 100%;
}

.content-img > img {
  height: 482px;
  width: 100%;
}

.img-thumbnails img {
  display: inline-block;
  height: 181px;
  width: 280px;
}

.aside-content img {
  height: 75px;
  width: 75px;
  float: left;
}

.Page-footer img {
  width: 195px;
  position: relative;
  right: 9px;
}

.inflation-grid img {
  width: 100%;
}

.navigation li img {
  position: relative;
  bottom: 0.8em;
  width: 195px;
}

.navigation button {
  padding: 0 10px;
  margin-right: 5px;
  height: 33px;
  line-height: 33px;
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
  color: white;
  background: #567b95;
  position: relative;
  top: -13px;
}

.img-title {
  max-width: 600px;
}

.img-title h2 {
  font-style: italic;
  margin: 0;
  font-size: 2.5rem;
  line-height: 3rem;
}

.main-img {
  max-width: 1200px;
}

.main-content {
  max-width: 1200px;
  color: #333;
  margin-top: 3em;
}

.main-content > div {
  margin: 0 auto;
}

.author {
  max-width: 600px;
  font-size: 15px;
  font-weight: bold;
}

.author > h2 {
  font-size: 15px;
  color: #333;
  margin: 0 0 15px 0;
}

.social-icons {
  width: 15px;
  height: 15px;
  padding: 5px;
  background-color: #eee;
  border-radius: 100%;
  box-sizing: unset;
}

.social-media-icons {
  max-width: 600px;
  padding-bottom: 25px;
}

.social-media-icons ul {
  padding-left: 0;
}

.social-media-icons button {
  width: 330px;
  height: 36px;
  color: #fff;
  background: #487493;
  border: none;
}

.comment-text {
  position: relative;
  right: 2.1em;
  bottom: 0.5em;
}

.content {
  max-width: 600px;
  font-size: 20px;
  line-height: 1.875rem;
}

.remaining-articles {
  text-align: center;
  line-height: 0.8em;
}

.remaining-articles hr {
  max-width: 72px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.The-Theory-of-Inflation > p {
  font-size: 14px;
  color: #666;
  margin: 0;
  width: 100%;
}

.remaining-articles > p {
  margin: 0;
  font-size: 14px;
  font-weight: bolder;
}

.content-video > p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.content-img > p {
  font-size: 14px;
  margin: 0;
  color: #666;
}

.aside-content p {
  margin: 13.5px 0 13.5px 85px;
  line-height: 19px;
  color: #333;
}

.remaining-articles > p:nth-of-type(2) {
  color: #326891;
}

.The-Theory-of-Inflation {
  max-width: 950px;
  padding: 20px 0 0 0;
}

.The-Theory-of-Inflation > h2 {
  font-size: 20px;
  margin: 0;
}

.inflation-inner-top {
  width: 228px;
  padding: 4.5px;
  font-size: 13px;
  position: absolute;
  float: left;
  margin-top: -456px;
}

.inflation-inner-bottom {
  width: 228px;
  padding: 4.5px;
  font-size: 13px;
  position: absolute;
  float: left;
  margin-top: -184px;
}

.inflation-inner-top:nth-of-type(3) {
  margin-left: 237px;
}

.inflation-inner-top:nth-of-type(4) {
  margin-left: 474px;
}

.inflation-inner-top:nth-of-type(5) {
  margin-left: 720px;
}

.inflation-inner-bottom:nth-of-type(7) {
  margin-left: 237px;
}

.inflation-inner-bottom:nth-of-type(8) {
  margin-left: 474px;
}

.inflation-inner-bottom:nth-of-type(9) {
  margin-left: 720px;
}

.inflation-end {
  font-size: 14px;
}

.inflation-end > hr {
  max-width: 60px;
  margin: 8px 826px 0 0;
}

.content-video {
  line-height: normal;
}

.content-video iframe {
  border: none;
  width: 100%;
}

.content-video > p > span {
  color: #888;
  margin: 0 7px 0 0;
  font-size: 13px;
}

.content-img {
  max-width: 730px;
}

.content-img > p > span {
  color: #888;
  margin: 0 7px 0 0;
  font-size: 13px;
}

/* More-in-Space-and-Astronomy  */
.More-in-Space-and-Astronomy-section {
  margin-top: 80px;
  max-width: 1315.19px;
}

.More-in-Space-and-Astronomy .nyt-che {
  width: 100%;
  margin: 0 auto;
}

.More-in-Space-and-Astronomy h2 {
  font-size: 16px;
}

article h3 {
  display: none;
}

.More-in-Space-and-Astronomy h3 {
  font-size: 16px;
  width: 262px;
  margin: 0;
  color: #121212;
}

.img-thumbnails {
  max-width: 896px;
  width: 896px;
  margin: 0;
  float: left;
}

.img-thumbnails hr {
  background-color: #000;
  height: 1px;
}

.space-section {
  text-align: right;
  color: #999;
  font-size: 10px;
  padding: 2px 0;
}

.img-thumbnails ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.Most-Popular {
  width: 390px;
  float: right;
}

.Most-Popular hr {
  background-color: #000;
  height: 1px;
}

.Most-Popular ul {
  list-style: none;
}

.aside-content {
  width: 210px;
  font-size: 14px;
}

.aside-content h2 {
  border-bottom: 1px solid #999;
  margin: 0 0 15px;
  padding: 0 0 12px;
  font-size: 14px;
}

.aside-content div {
  display: inline-block;
  margin: 0 0 15px 0;
}

.aside-content div:nth-of-type(4) {
  background: rgb(226, 226, 226);
  height: 75px;
  padding: 14px;
  width: 200px;
  position: relative;
  right: 13px;
}

p.bold {
  font-size: 10px;
  line-height: 10px;
  font-weight: bolder;
  margin: 0 0 0 80px;
}

p.thin {
  font-size: 12px;
  line-height: 16px;
  margin: 4px 0 5px 80px;
}

.Page-footer {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  display: block;
}

.css-home {
  float: right;
}

.css-home-link {
  font-size: 11px;
  text-decoration: none;
  color: #567b95;
}

.footer {
  position: relative;
  clear: both;
  max-width: 1315.19px;
  margin: 0 auto;
}

.border {
  border-top: 2px solid #e2e2e2;
}

.Page-footer ul {
  list-style: none;
  display: grid;
  margin-top: 0;
  padding-left: 0;
}

.page-footer-content {
  display: table;
}

.page-footer-content section {
  display: table-cell;
  padding-right: 120px;
}

.page-footer-content section:nth-last-child(1) {
  border-left: 1px solid #999;
  padding-right: 0;
  padding-left: 10px;
}

.Page-footer h2 {
  font-size: 13px;
  margin: 0 0 5px 0;
}

.css-r5ic95 {
  height: 13px;
  width: 13px;
  font-weight: 700;
  font-size: 16px;
  padding-right: 10px;
}

.css-text {
  font-size: 16px;
}

.Subscribe li:nth-of-type(4) {
  margin-bottom: 15px;
}

.Subscribe li:nth-of-type(1n + 5) {
  line-height: 25px;
}

.Subscribe li:nth-of-type(7) {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 7px;
}

.Subscribe li:nth-of-type(8) {
  padding-top: 7px;
}

section.lower-footer {
  width: 1315.19px;
}

.lower-footer-content {
  width: 1160px;
}

section.lower-footer ul {
  list-style: none;
}

.lower-footer h3 {
  display: none;
}

.Page-footer h3 {
  display: none;
}
