body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}


ul li {
  list-style: none;
  display: inline-block;
}

nav li {
  height: 27px;
}

nav li img {
  height: 26;
  width: 200px;
  text-align: center;
}

.main-img img {
    width: 60%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.navigation {
  height: 42px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  z-index: 2;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.main-img {
  text-align: center;
}

.img-title {
  text-align: center;
  margin-top: 120px;
}

.img-title h2 {
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
}

.heading1 {
  margin-left: -35px;
  line-height: 0px;
}

.main-img p{
    width: 60%;
    text-align: left;
    position: relative;
    margin-left: 20%;
    color: #666;
    line-height: 18px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}